@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
.main-container{
    width: 100%;
    height: 100%;
    position: relative;
    .overlay{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        z-index: 8888;
        display: none;
    }
    .form{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 25%;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        padding-bottom: 3rem;
        display: none;
        z-index: 9999;
        right: 39%;
        bottom:15%;
        @media(max-width:768px){
            width: 100%;
            right: 0%;
            bottom: 9%;
        }
        .new-transaction{
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba(128, 128, 128, 0.508);
            font-weight: bold;
            font-size: 1.50rem;
            .box{
                border: none;
                background-color: transparent;
                font-size: 1.50rem;
                cursor: pointer;
            }
        }
        .inputs{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
            p{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            input{
             width: 100%;
             padding: 1rem;
             font-size: 1.30rem;
            }
        }
        .transaction-type{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;
            p{
                font-size: 1.30rem;
            }
           .income{
            display: flex;
            flex-direction: column;
            gap: .4rem;
            font-size: 1.30rem;
           }
           .btns{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            .close{
                cursor: pointer;
            }
            .create{
                background-color: rgba(0, 128, 0, 0.804);
                color: white;
                cursor: pointer;
            }
            button{
                padding: 1rem 2rem;
                border-radius: 10px;
                border: none;
                font-size: 1.20rem;
            }
           }
        }
    }
    .container{
        width: 40%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 0rem auto;
        @media(max-width:768px){
            width: 100%;
        }
        
        .top-container{
            color: white;
            background-color: black;
            border-radius: 10px;
            padding: 1rem;
            .right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    font-size: 1.50rem;
                }
                .a{
                    span{
                        color: gray;
                    }
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
            }
            .left{
                .bal{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    color:gray;
                    span{
                        font-size: 2rem;
                        font-weight: bold;
                        color: white;
                        
                    }
                }
                .cards{
                    display: flex;
                    justify-content: space-between;
                    .green{
                        span{
                            color: black;
                            font-size: 1.40rem;
                            font-weight: bold;
                        }
                        background-color: white;
                        border-radius: 10px;
                        padding: 1rem;
                        color: green;
                        display: flex;
                        align-items: center;
                        gap: .6rem;
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.50rem;
                            height: 30px;
                            width: 30px;
                            padding: .5rem;
                            border-radius: 50%;
                            background-color: rgba(0, 128, 0, 0.38);
                            color: green;
                        }
                    }
                    .pink{
                        span{
                            color: black;
                            font-size: 1.40rem;
                            font-weight: bold;
                        }
                        background-color: white;
                        border-radius: 10px;
                        padding: 1rem;
                        color: #e11d48;
                        display: flex;
                        align-items: center;
                        gap: .6rem;
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.50rem;
                            height: 30px;
                            width: 30px;
                            padding: .5rem;
                            border-radius: 50%;
                            background-color: #e11d4771;
                            color: #e11d48;
                        }
                    }
                }
            }
        }
        .white-container{
            padding: 1rem;
            .p{
                margin-top: 1.10rem;
                margin-bottom: 1rem;
                font-weight: bold;
                font-size: 1.50rem;
            }
            .arrows{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .all-arrows{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .down{
                        display: flex;
                        justify-content: space-between;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        padding: .50rem;
                        border-radius: 10px;
                        .word{
                            span{
                                font-size: smaller;
                                font-weight: normal;
                            }
                            display: flex;
                            align-items: center;
                            gap: .6rem;
                            font-weight: bold;
                            i{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.50rem;
                                height: 30px;
                                width: 30px;
                                padding: .5rem;
                                border-radius: 50%;
                                background-color: #e11d4771;
                                color: #e11d48;
                            }
                        }
                        .namba{
                            font-weight: bold;
                            span{
                                font-size: smaller;
                                font-weight: normal;
                            }
                        }
                    }
                   
                    .upwards{
                        .pink{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.50rem;
                            height: 30px;
                            width: 30px;
                            padding: .5rem;
                            border-radius: 50%;
                            background-color: rgba(0, 128, 0, 0.38);
                            color: green;
                        }
                        display: flex;
                        justify-content: space-between;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        padding: .50rem;
                        border-radius: 10px;
                        .word{
                            span{
                                font-size: smaller;
                                font-weight: normal;
                            }
                            display: flex;
                            align-items: center;
                            gap: .6rem;
                            font-weight: bold;
                            .i{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.50rem;
                                height: 30px;
                                width: 30px;
                                padding: .5rem;
                                border-radius: 50%;
                                background-color: #e11d4771;
                                color: #e11d48;
                            }
                        }
                        .namba{
                            font-weight: bold;
                            span{
                                font-size: smaller;
                                font-weight: normal;
                            }
                        }
                    }
                   
                }
            }
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .50rem;
            background-color: black;
            color: gray;
            font-size: 1.20rem;
            border-radius: 5px;
            .button{
                border-radius: 100px;
                border: none;
                cursor: pointer;
                .t{
                    background-color: green;
                    color: white;
                    border-radius: 50%;
                    font-size: 2rem;
                    padding: .50rem;
                }
            }
        }
    }
}
